user.json
*node_modules
*output
*package-lock.json
.eslintrc.json
*vscode
*commands
*.cloudf
*zipped
*unzipped
*output*
*models*
*exiftool*
chatResponse*
chatRequest*
*exampledata
discord_messages.txt
discord_messages2.txt
inputFiles/*
discord_messages2.json
discord_messages.json
